* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

.central {
    background-color: whitesmoke;
    text-align: center;
    font-size: 2.5em;
    display: block;
    padding-bottom: 500px;
    padding-top: 500px;
}

.infos {
    display: flex;
    justify-content: center;
}

.info-poa,
.info-sf {
    margin: 200px;
    font-size: 1em;
    background-color: lightgray;
    padding: 20px;
}